<div class="container-fluid">
    {{>header}}
    <div class="container pt-3">
        <div class="row">
            {{>tableProduct}}
        </div>
    </div>
    <a href="/product/create" class="btn btn-success position-fixed"
        style="bottom: 10px; right: 10px; border-radius: 25px; padding: 10px 20px 10px 20px">
        <i class="bi bi-file-earmark-plus-fill"></i> New
    </a>
</div>