<div class="container-fluid">
    {{>header}}
    <div class="row">
        <div class="row p-5 pt-3">
            {{>tableUser}}
        </div>
    </div>
    <a href="/user/create" class="btn btn-success position-fixed"
        style="bottom: 10px; right: 10px; border-radius: 25px; padding: 10px 20px 10px 20px">
        <i class="bi bi-person-plus-fill"></i> New
    </a>
</div>